body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}
.container {
    display: grid;
    border: 10px solid #8f1e40;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(21, 1fr);
    
}
.container >div {
    display: grid;
    border: 10px solid #8f1e40;
    padding: 10px;

}
div.top1 {
    font-size: 10px;
    font-weight: bolder;
    background-color: orange;
    grid-column-start: 1;
    grid-column-end: 5;
    
}
div.top2 {
    font-size: 10px;
    font-weight: bolder;
    background-color: orange;
    grid-column-start: 5;
    grid-column-end: 9;
    
}    
div.top3 {
    font-size: 10px;
    font-weight: bolder;
    background-color: orange;
    grid-column-start: 9;
    grid-column-end: 13;
    
}
div.top4 {
    font-size: 10px;
    font-weight: bolder;
    background-color: orange;
    grid-column-start: 13;
    grid-column-end: 17;
    
}    
div.top5 {
    font-size: 10px;
    font-weight: bolder;
    background-color: orange;
    grid-column-start: 17;
    grid-column-end: 22;
    
}
div.taco {
    background-image: url(./taco.jpg);
    font-size: 30px;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 15;
    grid-row-start: 2;
    grid-row-end: 6;
    background-position: center;
    /*height: 180px;*/
    padding-left: 100px;

}    
div.price1 {
    font-size: 40px;
    background-color: orange;
    grid-column-start: 15;
    grid-column-end: 22;
    grid-row-start: 2;
    grid-row-end: 4;
    
}
div.price2 {
    font-size: 40px;
    background-color: orange;
    grid-column-start: 15;
    grid-column-end: 22;
    grid-row-start: 4;
    grid-row-end: 6;
    
}    
div.menu1{
    font-size: 20px;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 8;
    background-color: white;

}
div.menu2 {
    font-size: 20px;
    font-weight: bold;
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 6;
    grid-row-end: 8;
    background-color: white;
}    
div.menu3 {
    font-size: 20px;
    font-weight: bold;
    grid-column-start: 11;
    grid-column-end: 16;
    grid-row-start: 6;
    grid-row-end: 8;
    background-color: white;
}
div.menu4 {
    font-size: 20px;
    font-weight: bold;
    grid-column-start: 16;
    grid-column-end: 22;
    grid-row-start: 6;
    grid-row-end: 8;
    background-color: white;
} 
div.cheese {
    background-image: url(./queso-taco.png);
    font-size: 20px;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 14;
    background-color: white;
    border: 10px solid white;
}
div.white1 {
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 8;
    grid-row-end: 14;
    background-color: white;
    border: 5px solid white;
}

div.white2 {
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
    grid-column-start: 11;
    grid-column-end: 22;
    grid-row-start: 8;
    grid-row-end: 14;
    background-color: white;
    border: 5px solid white;
}

div.view1 {
    font-size: 20px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 14;
    grid-row-end: 18;
    background-image: url(./201x201.jpg);
}
div.view2 {
    font-size: 20px;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 14;
    grid-row-end: 18;
    background-image: url(./202x202.jpg);
} 
div.view3 {
    font-size: 20px;
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 14;
    grid-row-end: 18;
    background-image: url(./203x203.jpg);
}
div.view4 {
    font-size: 20px;
    grid-column-start: 10;
    grid-column-end: 13;
    grid-row-start: 14;
    grid-row-end: 18;
    background-image: url(./204x204.jpg);
}    
div.view5 {
    font-size: 20px;
    grid-column-start: 13;
    grid-column-end: 16;
    grid-row-start: 14;
    grid-row-end: 18;
    background-image: url(./205x205.jpg);
}
div.view6 {
    font-size: 20px;
    grid-column-start: 16;
    grid-column-end: 19;
    grid-row-start: 14;
    grid-row-end: 18;
    background-image: url(./206x206.jpg);
}    
div.view7 {
    font-size: 20px;
    grid-column-start: 19;
    grid-column-end: 22;
    grid-row-start: 14;
    grid-row-end: 18;
    background-image: url(./207x207.jpg);
}
div.view8 {
    font-size: 20px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 18;
    grid-row-end: 22;
    background-image: url(./207x208.jpg);
}
div.view9 {
    font-size: 20px;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 18;
    grid-row-end: 22;
    background-image: url(./207x209.jpg);
} 
div.view10 {
    font-size: 20px;
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 18;
    grid-row-end: 22;
    background-image: url(./207x210.jpg);
}
div.board {
    grid-column-start: 10;
    grid-column-end: 22;
    grid-row-start: 18;
    grid-row-end: 22;
    background: linear-gradient(#8f1e40 10%, #87579e 50%);
}
